<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <title>STUDENT PERFORMANCE SYSTEM</title>
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-2">
    <div class="container">
      <a href="Main page.html" class="navbar-brand"> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/49/IIIT_Sri_City_Logo.png/220px-IIIT_Sri_City_Logo.png" style="width: 90px; height: 90px; margin-right: 16px;"><font size="108" > STUDENT PERFORMANCE SYSTEM</font></a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="Main_page.html" class="nav-link">
              <i class="fas fa-user-times"></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- HEADER -->
  <header id="main-header" class="py-0 bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>
            <i class="fas fa">Student Academics..</i></h1>
        </div>
      </div>
    </div>
  </header>
  <span class="navbar-toggler-icon"></span>


<section id="actions" class="py-4 mb-4 bg-light"  >
  <div style="float:right;" >
  <div class="container">
  <div class="row">
  <div class="col-md-3"> 
  <form action="{% url 'login1' %}" method="POST">{% csrf_token %}
  <input type="hidden" name="id" value="{{s}}">
  <input type="hidden" name="pwd" value="{{lp}}">
  <input type="submit" value="BACK" class="btn btn-primary btn-block" style="width:250px">
  </form>
  </div>
  </div>
  </div>
  </div>
</section> 
		
	
 <div class="row">
 {% if not p %}	
	<div class="column">  
 		<img style="position:topleft;TOP:100px;LEFT:170px;WIDTH:150px;HEIGHT:100px" src="{{v}}" >
	</div>
	{% endif %}
	<div class="column" style="width:80%">
	<div style="color:blue" align=right">
  	<section id="posts">
    	<div class="container">
        <div class="row">
        <div class="col-md-9">
        {% if p %}
        {{p}}
        {% else %}
        <div class="card">
        <div class="card-header">
        <h4>MARKS SHEET</h4>
        </div>
        <table class="table table-striped" align="right">
        <thead class="thead-dark">
        <tr>
	<th>Course </th>
        <th>Exam Type</th>
        <th>
       <!-- <form action="{% url 'ordermarks' %}" method="POST">{% csrf_token %}
                  <input type="hidden" name="s" value="{{s}}">
                  <input type="hidden" name="lp" value="{{lp}}">
             	<input type="hidden" name="flag" value="{{flag}}">
                  <input type="submit" value="Marks">
        </form> -->
		Marks
        </th>
        <th>Marks percentage</th>
	</tr>
        </thead>
        <tbody>
        {% for p,i,j,k in t %}
	<tr>
	<td>{{p}}</td>
        <td>{{i}}</td>
        <td>{{j}}</td>
        <td>{{k}}</td>
	</tr>
	{% endfor %} 
        </tbody>
        </table>
     	{% ifequal flag 1 %}
	<table class="table table-striped" align="right">
        <thead class="thead-dark">
        <tr>
        <th>Course </th>
	<th>Grade </th>
        </tr>
        </thead>
        <tbody>
        {% for p,q in g %}
	<tr>
	<td>{{p}}</td>
	<td>{{q}}</td>
	</tr>
	{% endfor %} 
        </tbody>
        </table>
	{% endifequal %}
        </div>
        {% endif %}
        </div>
	</div>
	</div>
	</section>
	</div>
	</div>
 </div>

<section id="actions" class="py-4 mb-4 bg-light">
   <div class="container">
   <div class="row">
   <div class="col-md-3">
   <form action="{% url 'ase' %}" method="POST">{% csrf_token %}
   <input type="hidden" name="id" value="{{s}}">
   <input type="hidden" name="pwd" value="{{lp}}">
   <input type="submit" value="PREVOIUS COURSES" class="btn btn-primary btn-block" style="width:250px">
   </form>
   </div>
   </div>
   </div>
</section>
 
<!--<section id="actions" class="py-4 mb-4 bg-light">
{{kl}}
</section>-->
{% if cl %}
<p> President for  {{cl}} club.</p> 
{% elif vcl %}
<p> Vice President for {{vcl}} club. </p>
{% endif %}

{% if kl %}
<h2> Club Activities & Achievements </h2>
{{kl}}
{% endif %}







  <footer id="main-footer" class="bg-dark text-white mt-5 p-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="lead text-center">
            Copyright &copy;
            <span id="year"></span>
            Project B08
          </p>
        </div>
      </div>
    </div>
  </footer>

                 
                   
                  


  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>

  <script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());

    CKEDITOR.replace('editor1');
  </script>
</body>

</html>
